.box {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  border-radius: 20px;
  animation: bg 3s ease-in-out infinite alternate ;
  animation-duration: 5s;
  
  animation-fill-mode: forwards;
  margin: 100px auto;
}

@keyframes bg {
  from {
    background-color: orange;
    rotate: 120deg;
  }
  to {
    background-color: rgb(0, 0, 0);
    rotate: 250deg;
    scale: 2;
    translate: 200px 0;
  }
}
